.Counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
    width: 550px;
    height: 180px;
    background: #555B97;
    border-radius: 15px;
    font-weight: 700;
    font-size: 150px;
    color: #FFFFFF;

}

.CounterDisable {
    color: crimson;
    opacity: 0.5;
}

.ErrorMessage {
    font-weight: 400;
    font-size: 60px;
    background-color: #EF5151;
}

.InviteMessage {
    font-weight: 400;
    font-size: 60px;
}