.App {
  margin: 5% auto;
  box-sizing: border-box;
  width: 770px;
  height: 599px;
  border: 7px solid #555B97;
  filter: drop-shadow(7px 7px 25px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.ButtonsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0 auto;
  box-sizing: border-box;
  width: 645px;
  height: 215px;
  border: 7px solid #555B97;
  border-radius: 15px;
}

.Button {
  width: 239px;
  height: 80px;
  background: #555B97;
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  border: 0;
}

.Button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Button:hover {
  background-color: #8590f5;
}

.DisableButton {
  opacity: 0.5;
}