.App {
  margin: 10px auto;
  box-sizing: border-box;
  width: 650px;
  height: 550px;
  border: 7px solid #555B97;
  filter: drop-shadow(7px 7px 25px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.ButtonsWrapper {
  display: grid;
  grid-template-columns: 1fr 120px 1fr;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  width: 550px;
  height: 224px;
  border: 7px solid #555B97;
  border-radius: 15px;
}

.IncrDecrButtons {
  justify-self: center;
  align-self: center;
  margin-right: 12px;
  
}

.Button {
  width: 239px;
  height: 80px;
  background: #555B97;
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  border: 0;
}

.Button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Button:hover {
  background-color: #8590f5;
}

.DisableButton {
  opacity: 0.5;
}

.IncrementButton {
  margin-bottom: 15px;
}

.InputsWrapper {
  display: flex;
  flex-direction: column;

}

.MinInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}
.MaxInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Labels {
  margin-right: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #555B97;
}